*.c
*.h
*.js
*.py
*.html
*.htm
*.java
*.cs
*.rb
*.cpp
*.cxx
*.hxx
*.hpp
*.php
*.rs
*.es6
*.jsx
*.ts
*.tsx
*.coffee
*.coffeex (just in case)
*.css
*.scss
*.sass
*.less
*.scala
*.sh
*.ipynb
*.go
*.asp
*.erb


