#Golang
*.go

#Javascript
*.js
*.jsx

#Typescript
*.ts
*.tsx

#Coffeescript
*.coffee

#Java
*.java

#C
*.c

#C++
*.cpp
*.h

#Perl
*.pl

#Ruby
*.rb

#Python
*.py

#PHP
*.php

#CSharp
*.cs

#Rust 
*.rs

#Batch
*.bat

#Shellscript
*.sh

#Powershell
*.ps1
*.psd1
*.psm1

#Postscript
*.ps
